<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>20</key>
	<string>OnDutyLog</string>
	<key>21</key>
	<string>MyWorkViewController</string>
	<key>22</key>
	<string>JuzhanViewController</string>
	<key>23</key>
	<string>DoNothingViewController</string>
	<key>24</key>
	<string>AllTaskViewController</string>
	<key>25</key>
	<string>MyRepairFaultListKB</string>
	<key>26</key>
	<string>MyBookingAdd</string>
	<key>27</key>
	<string>MyBookingSGYYController</string>
	<key>28</key>
	<string>MyBookingAddXcsg</string>
	<key>29</key>
	<string>MyBookingSGRWController</string>
	<key>30</key>
	<string>DoNothingViewController</string>
	<key>31</key>
	<string>HiddenTroubleViewController</string>
	<key>32</key>
	<string>DoNothingViewController</string>
	<key>33</key>
	<string>RoomViewController</string>
	<key>34</key>
	<string>NetworkViewController</string>
	<key>35</key>
	<string>MyResources</string>
	<key>36</key>
	<string>ResourcesViewController</string>
	<key>37</key>
	<string>WirelessNetManage</string>
	<key>38</key>
	<string>EponInfoViewController</string>
	<key>39</key>
	<string>CableConnectorInfoController</string>
	<key>40</key>
	<string>DoNothingViewController</string>
	<key>41</key>
	<string>DoNothingViewController</string>
	<key>42</key>
	<string>DoNothingViewController</string>
	<key>43</key>
	<string>DoNothingViewController</string>
	<key>44</key>
	<string>DoNothingViewController</string>
	<key>45</key>
	<string>DoNothingViewController</string>
	<key>46</key>
	<string></string>
	<key>47</key>
	<string></string>
	<key>48</key>
	<string>TemporaryViewController</string>
	<key>49</key>
	<string>AddTemporaryViewController</string>
	<key>50</key>
	<string>FaultDirectSearchController</string>
	<key>51</key>
	<string>ImportantSecurityViewController</string>
	<key>52</key>
	<string>PersonalWorkInfoViewController</string>
	<key>53</key>
	<string></string>
</dict>
</plist>
