<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>海潮机房</string>
		<key>jf</key>
		<array>
			<dict>
				<key>one</key>
				<string>01</string>
				<key>two</key>
				<string>1</string>
				<key>third</key>
				<string>在用</string>
				<key>four</key>
				<string>BSEC</string>
				<key>five</key>
				<string>AAAA</string>
			</dict>
			<dict>
				<key>one</key>
				<string>01</string>
				<key>two</key>
				<string>1</string>
				<key>third</key>
				<string>在用</string>
				<key>four</key>
				<string>BSEC</string>
				<key>five</key>
				<string>AAAA</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>海潮机房</string>
		<key>jf</key>
		<array>
			<dict>
				<key>one</key>
				<string>01</string>
				<key>two</key>
				<string>1</string>
				<key>third</key>
				<string>在用</string>
				<key>four</key>
				<string>BSEC</string>
				<key>five</key>
				<string>AAAA</string>
			</dict>
			<dict>
				<key>one</key>
				<string>01</string>
				<key>two</key>
				<string>1</string>
				<key>third</key>
				<string>在用</string>
				<key>four</key>
				<string>BSEC</string>
				<key>five</key>
				<string>AAAA</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>海潮机房</string>
		<key>jf</key>
		<array>
			<dict>
				<key>one</key>
				<string>01</string>
				<key>two</key>
				<string>1</string>
				<key>third</key>
				<string>在用</string>
				<key>four</key>
				<string>BSEC</string>
				<key>five</key>
				<string>AAAA</string>
			</dict>
			<dict>
				<key>one</key>
				<string>01</string>
				<key>two</key>
				<string>1</string>
				<key>third</key>
				<string>在用</string>
				<key>four</key>
				<string>BSEC</string>
				<key>five</key>
				<string>AAAA</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>海潮机房</string>
		<key>jf</key>
		<array>
			<dict>
				<key>one</key>
				<string>01</string>
				<key>two</key>
				<string>1</string>
				<key>third</key>
				<string>在用</string>
				<key>four</key>
				<string>BSEC</string>
				<key>five</key>
				<string>AAAA</string>
			</dict>
			<dict>
				<key>one</key>
				<string>01</string>
				<key>two</key>
				<string>1</string>
				<key>third</key>
				<string>在用</string>
				<key>four</key>
				<string>BSEC</string>
				<key>five</key>
				<string>AAAA</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
